html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   font-family: 'Inter', sans-serif;
   color: #292929;
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box; /* define size for border and content inside */
   height: 100vh;
   padding: 64px 120px;
   background-image: url(images/headphones-image-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.header-top {
   display: flex;
   justify-content: space-between;
}

.menu {
   box-sizing: border-box;
   height: 100vh;
   padding: 64px 120px;
   background: #E8EFF9;
}

.menu-top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 64px;
}

.nav {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.nav-link {
   text-decoration: none;
   color: #292929;
   font-size: 22px;
   font-weight: 700;
   line-height: 22px;
   text-transform: uppercase;
   letter-spacing: 2px;
}